.comment {
    border: solid 2px green;
    min-height: 6em;
}

header {
    display: grid;
    grid-template-areas: 
        "comment-author comment-date"
        "comment-author comment-time";
        padding: 1em;
}

.comment-author {
    grid-area: comment-author;
    margin: 0;
}

.comment-date {
    grid-area: comment-date;
    margin: 0em 0em 0em auto;
}

.comment-time {
    grid-area: comment-time;
    margin: 0em 0em 0em auto;
}

.comment-body { 
    margin: 0 1em;
    word-break: break-all;
}

.comment-votes {
    margin: 1em;
}

.delete-successful {
    text-align: center;
    margin: 2.5em;
}

.delete-comment-button {
    width: 100%;
    padding: 0.5em;
}