h2 {
    font-size: x-large;
}

img {
    width: 400px;
}

#single-article-details {
    display: grid;
    grid-template-areas:
        "article-topic article-date"
        "article-author article-time"
        "article-author article-votes";
    padding-bottom: 0.5em;
}

.article-author {
    grid-area: article-author;
    margin: 0;
}

.article-date {
    grid-area: article-date;
    margin: 0;
}

.article-topic {
    grid-area: article-topic;
    margin: 0;
}

.article-time {
    grid-area: article-time;
    margin: 0;
}

.article-votes {
    grid-area: article-votes;
    margin: 0;
}

.article-date,
.article-time,
.article-votes {
    margin: 0em 0em 0em auto;
}

.back-link {
    text-decoration: none;
}